<html>
	<head>
		<title>Oauth2</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="content text-center">
			</br></br>
			<a href="https://api.intra.42.fr/oauth/authorize?client_id=8f4c258b48e4a7d4b5928ee4c715bd3e74f6aab2a01e0811e8d24fcb5b70614f&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback&response_type=code"><button type="button" class="btn btn-success">Log in</button></a></br></br>
		</div>
	</body>
</html>
